@font-face {
    font-family: 'Vollkorn';
    src: url('../assets/fonts/Vollkorn-Regular.woff2') format('woff2'),
         url('../assets/fonts/Vollkorn-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Vollkorn';
    src: url('../assets/fonts/Vollkorn-Bold.woff2') format('woff2'),
         url('../assets/fonts/Vollkorn-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'MV-Skifer';
    src: url('../assets/fonts/MVSkifer-Regular.woff2') format('woff2'),
         url('../assets/fonts/MVSkifer-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'MV-Skifer';
    src: url('../assets/fonts/MVSkifer-Bold.woff2') format('woff2'),
         url('../assets/fonts/MVSkifer-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }